
@import '_fonts';
$blue-color:#00b9fe;
$color:#5c7b98;;

/*clearfix*/
@mixin cf {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}
/*clearfix конец*/

